<div class="container news-all">
    <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h2>Current Comments</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <label>Article ID:</label>
                  <input id="articleid" value="">
                </li>
                <li class="list-group-item">
                  <label>Article Title:</label>
                  <input id="articletitle">
                </li>
                <li class="list-group-item">
                  <label>User Name:</label>
                  <input id="usernameinput">
                </li>
                <li class="list-group-item">
                  <label>Comment Title:</label>
                  <input id="titleinput">
                </li>
                <li class="list-group-item">
                  <label>Comment</label>
                  <textarea id="commentinput"></textarea>
                </li>
                <li class="list-group-item">
                  <button type="submit" id="submitcomment" data-id='{{this._id}}'>Submit</button> 
                </li>
              </ul>
          </div>
      </div> 
      <div class="col-sm-6">
        <h2>Today's News</h2>
          <ul id="articles">      
            {{#each objects}}
            <li id="li-item" style="list-style-type: none" data-id='{{this._id}}'>
            {{#if this.summary}}<p data-id='{{this._id}}'> Title: {{this.title}}</p>{{/if}}
            {{#if this.summary}}<p data-id='{{this._id}}'> Summary: {{this.summary}}</p>{{/if}}
            {{#if this.summary}}{{#if this.link}}<p> Link: <a href="http://nytimes.com{{this.link}}" target='_blank'>Click here for the full article.</a></p>{{/if}}{{/if}}
            {{/each}}
            </li>
          </ul>
      </div>
  </div>
</div>

<script src="/js/app.js"></script>